<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="template :: oslo">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form th:action="@{/update}" th:object="${objectBericht}" method="post">

   <!-- <input th:placeholder="${id}" type="text" th:field="*{id}"/>
    <p th:text="${data}"></p>
    <input th:placeholder="${data}" type="date" th:field="*{data}"/>
    <P th:text="${weight}"></P>
    <input th:attr="value = 77777" type="hidden" th:field="${weight}"/>


    <button type="submit">Save</button>
</form>-->
<form th:action="@{/update}" method="post">
<input type="text" name="r" th:value="${id}"/>
<input type="text" name="rb" th:value="${data}"/>
<input type="text" name="rbn" th:value="${weight}"/>
<button type="submit">Save</button>
</form>
</body>
<hr>
<div th:replace="template :: foot"></div>
</html>

??? создать Update и сохранить измененные даные