<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="template :: oslo">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form th:action="@{/save}" th:object="${objectBericht}" method="post">-->


<p th:text="${data}"></p>
<input placeholder="33.22.1999" type="date" th:field="*{data}"/>
<P th:text="${weight}"></P>
<input placeholder="777" type="number" th:field="*{weight}"/>

<button type="submit">Save</button>


</body>
<hr>
<div th:replace="template :: foot"></div>
</html>

??? создать Update и сохранить измененные даные